.Menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 2px solid black;

    &__Downloading,
    &__Uploading {
        font-size: 1.5rem;
        flex-grow: 2;
        text-align: center;
        padding: 0 0.5rem;
        align-items: center;
        display: flex;
        justify-content: center;

        &:not(:last-child) {
            border-bottom: 2px solid black;
        }

        &.selected {
            background-color: paleturquoise;
        }
    }
}

